body {
  background-image: url(bg.png);
}

/*middle page look */
.middlepage {
  width: 50%;
  margin: auto;
  margin-top: 40px;
  font-family: Helvetica, Arial, Sans-Serif;
}

.twtheader {
  width: 100%;
  height: 63px;
  border: 1px solid #e1e8ed;
  border-top-radius: 5px;
  margin-top: 2px;
}

.guestmsg {
  height: 57px; 
  width: 99%;
  white-space: pre-wrap; 
  z-index: auto; 
  position: relative; 
  line-height: 18px; 
  font-size: 14px; 
  -webkit-transition: none; 
  transition: none; 
  overflow: hidden; 
  background: #fff;
}

.refresh {
  text-align: center;
  display: block;
  margin: auto;
  width: 100%;
  height: 40px;
  border: 1px solid #e1e8ed;
  background-color: #fdfdfd;
}

.twt {
  width: 100%;
  border: 1px solid #e1e8ed;
  background-color: #fff;
  border-radius: 5px;
}

.timeline {
  border-top: 1px solid #C0C0C0;
}


/*tweet look*/
.refresh:hover {
  background-color: #f5f8fa;
}

.twt:hover {
  background-color: #f5f8fa;
}

.twtusrdate {
  font-family: Proxima Nova, Arial, Sans-Serif;
  margin: 10px 5px;
}

.date {
  float: right;
}

.twtmsg {
  font-family: Gotham, Arial, Sans-Serif;
  margin: 8px 20px 13px;
}



