.topheader {
  height: 100px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #e1e8ed;
}

/*middle page look */
.middlepage {
  width: 50%;
  margin: auto;
  font-family: Helvetica, Arial, Sans-Serif;
}

.twtheader {
  width: ;
  height: 63px;
  border: 1px solid #e1e8ed;
  border-top-radius: 5px;
  margin-top: 2px;
}

.refresh {
  text-align: center;
  display: block;
  margin: auto;
  height: 40px;
  border: 1px solid #e1e8ed;
  background-color: #fdfdfd;
}

.twt {
  border: 1px solid #e1e8ed;
}

.timeline {
  border-top: 1px solid #C0C0C0;
}


/*tweet look*/
.refresh:hover {
  background-color: #f5f8fa;
}

.twt:hover {
  background-color: #f5f8fa;
}
.twtusr {
  font-family: Proxima Nova, Arial, Sans-Serif;
  margin: 5px 5px;
}

.twtmsg {
  font-family: Gotham, Arial, Sans-Serif;
  margin: 5px 10px 10px;
}



