.twt {
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  margin-top: 2px;
}
.twt:hover {
  background-color: #FDFDFD;
}
.twtusr {
  font-family: Proxima Nova, Arial, Sans-Serif;
  margin: 5px 5px;
}

.twtmsg {
  font-family: Gotham, Arial, Sans-Serif;
  margin: 5px 10px 10px;
}

.refresh {
  display: block;
  margin: auto;
  width: 50%;
}

.container {
  display: block;
  margin: auto;
  width: 50%;
}

.timeline {
  display: ;
  width: 100%;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
}
